
html, body{
	height:  100%;
}
*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.cor{
	width: 100%;
	height: 432px;
	background: linear-gradient(95.33deg, #369831 6.27%, #127724 80.36%); 
}


.texto{
	color:white;
	font-size: 22px;
	font-weight: 700;
	width: 50%;
	float: left;
	margin-left: 64px;
	margin-top: 130px;
}
.image{
	width: 279px;
	float: left;
	height: 392px;
	float: left;
	margin-left: 220px;
	margin-top: 40px;
}